<div class="options-bar-container flex flex-col gap-4 justify-center items-center pt-8 px-4 flex-wrap">

    <div id="options-bar" class="flex flex-wrap gap-4 justify-evenly p-2 rounded-xl">

        <div class="flex flex-wrap gap-4 justify-evenly">
            <div class="form-control shadow rounded-xl">
                <div class="input-group">
                    <span class="bg-primary text-primary-content">
                        <svg class="h-5 w-5" style="fill: currentColor;" viewBox="0 0 80 80" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M46 39.1424L68 13.9995L12 13.9995L34 39.1424L34 65.9995L46 56.1172V39.1424Z" />
                            <path
                                d="M68 13.9995L69.5052 15.3165C70.0219 14.7259 70.1455 13.8877 69.8213 13.1731C69.497 12.4585 68.7848 11.9995 68 11.9995V13.9995ZM46 39.1424L44.4948 37.8254C44.1758 38.1899 44 38.6579 44 39.1424L46 39.1424ZM12 13.9995V11.9995C11.2152 11.9995 10.503 12.4585 10.1787 13.1731C9.85446 13.8877 9.97808 14.7259 10.4948 15.3165L12 13.9995ZM34 39.1424H36C36 38.6579 35.8242 38.1899 35.5052 37.8254L34 39.1424ZM34 65.9995H32C32 66.7734 32.4465 67.4779 33.1464 67.8082C33.8463 68.1385 34.674 68.0354 35.2714 67.5434L34 65.9995ZM46 56.1172L47.2714 57.661C47.7327 57.2811 48 56.7148 48 56.1172H46ZM66.4948 12.6825L44.4948 37.8254L47.5052 40.4594L69.5052 15.3165L66.4948 12.6825ZM12 15.9995L68 15.9995V11.9995L12 11.9995V15.9995ZM35.5052 37.8254L13.5052 12.6825L10.4948 15.3165L32.4948 40.4594L35.5052 37.8254ZM36 65.9995L36 39.1424H32L32 65.9995H36ZM44.7286 54.5733L32.7286 64.4557L35.2714 67.5434L47.2714 57.661L44.7286 54.5733ZM44 39.1424L44 56.1172H48V39.1424L44 39.1424Z" />
                        </svg>
                    </span>
                    <select [(ngModel)]="filterOptionSelected" (ngModelChange)="onFilterOptionChange($event)"
                        class="select select-bordered select-sm">
                        <option *ngFor="let opt of filterOptions" [ngValue]="opt">{{ opt.text }}</option>
                        <optgroup label="Prioridad">
                            <option *ngFor="let opt of filterPriorityOptions" [ngValue]="opt">{{ opt.text }}</option>
                        </optgroup>
                    </select>
                </div>
            </div>

            <div class="form-control shadow rounded-xl">
                <div class="input-group">
                    <span class="bg-primary text-primary-content">
                        <svg class="h-5 w-5" style="fill: currentColor; stroke: currentColor;" viewBox="0 0 80 80"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M23 55C23 56.6569 21.6569 58 20 58C18.3431 58 17 56.6569 17 55L23 55ZM17 16C17 14.3431 18.3431 13 20 13C21.6569 13 23 14.3431 23 16H17ZM17 55L17 16H23L23 55L17 55Z" />
                            <path
                                d="M25.818 55L14.182 55C13.0078 55 12.4197 56.4197 13.25 57.25L18.5858 62.5858C19.3668 63.3668 20.6332 63.3668 21.4142 62.5858L26.75 57.25C27.5803 56.4197 26.9923 55 25.818 55Z"
                                stroke-width="5" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M37 22H45" stroke-width="6" stroke-linecap="round" />
                            <path d="M37 34H53" stroke-width="6" stroke-linecap="round" />
                            <path d="M37 46L61 46" stroke-width="6" stroke-linecap="round" />
                            <path d="M37 58L69 58" stroke-width="6" stroke-linecap="round" />
                        </svg>
                    </span>
                    <select [(ngModel)]="sortOptionSelected" class="select select-bordered select-sm">
                        <option *ngFor="let opt of filterOptionSelected.sortOptions" [ngValue]="opt">{{ opt.text }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="flex flex-wrap gap-4 justify-evenly">
            <button class="btn btn-primary btn-sm shadow" [disabled]="loadingTasks" (click)="applyFilter()">
                Aplicar
            </button>
            <button class="btn btn-secondary btn-sm shadow" [disabled]="loadingTasks" (click)="openNewTaskModal()">
                Nueva Tarea
            </button>
        </div>
    </div>
</div>

<div *ngIf="!loadingTasks && tasksList.length > 0"
    class="tasks-container flex gap-6 pt-8 pb-16 px-4 sm:px-16 flex-wrap justify-evenly">

    <div *ngFor="let item of tasksList"
        class="card hover:shadow-lg b bg-base-100 shadow cursor-pointer w-11/12 sm:w-60 md:w-72 lg:w-80 xl:w-96" (click)="openTaskDetailModal($event, item.task)">
        <div class="card-body card gap-2 px-6 pt-6 pb-4">
            <div class="card-title justify-between">
                <p class="inline-block">
                    <input [(ngModel)]="item.task.completed" [disabled]="item.loading" (ngModelChange)="markTask($event, item)" type="checkbox" class="checkbox" style="transform: translateY(4px);"/>
                    {{ item.task.name | maxLength: 30}}
                </p>
                <div *ngIf="item.task.priority !== 3"
                    [ngClass]="{'badge-error': item.task.priority === 0, 'badge-warning': item.task.priority === 1, 'badge-success': item.task.priority === 2}"
                    class="badge badge-md self-start">
                    {{ item.task.priority === 0 ? 'Alta' : item.task.priority === 1 ? 'Media' : 'Baja'}}
                </div>
            </div>
            <div class="divider my-0"></div>
            <p *ngIf="!emptyDescription(item.task.description)" class="overflow-hidden">{{ item.task.description | maxLength }}</p>
            <p *ngIf="emptyDescription(item.task.description)" class="text-base-content opacity-70">- Sin descripcion -</p>
            <div class="card-options flex gap-2 justify-end sm:justify-end pt-4 flex-wrap">
                <button class="btn btn-outline btn-sm opacity-70 transition-all px-2" [disabled]="item.loading" (click)="deleteTask(item)">
                    <svg class="w-5 h-6" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M33.9256 9.88647C33.1648 9.88647 32.4454 10.2329 31.9711 10.8277L26.6501 17.5H15C13.6193 17.5 12.5 18.6193 12.5 20C12.5 21.3807 13.6193 22.5 15 22.5H16.5V64C16.5 67.5899 19.4101 70.5 23 70.5H57C60.5898 70.5 63.5 67.5899 63.5 64V22.5H65C66.3807 22.5 67.5 21.3807 67.5 20C67.5 18.6193 66.3807 17.5 65 17.5H53.3499L48.029 10.8278C47.5546 10.2329 46.8352 9.88647 46.0744 9.88647H33.9256ZM33 27.5C34.3807 27.5 35.5 28.6193 35.5 30V58C35.5 59.3807 34.3807 60.5 33 60.5C31.6193 60.5 30.5 59.3807 30.5 58V30C30.5 28.6193 31.6193 27.5 33 27.5ZM49.5 30C49.5 28.6193 48.3807 27.5 47 27.5C45.6193 27.5 44.5 28.6193 44.5 30V58C44.5 59.3807 45.6193 60.5 47 60.5C48.3807 60.5 49.5 59.3807 49.5 58V30ZM46.9536 17.4986L44.8704 14.8865H35.1296L33.0464 17.4986H46.9536Z"
                            fill="currentColor" />
                    </svg>
                </button>
                <button class="btn btn-outline btn-sm opacity-70 transition-all px-2" [disabled]="item.loading" (click)="openEditTaskModal(item.task, item)">
                    <svg class="w-5 h-6" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M15 23.7418H38.4C40.0569 23.7418 41.4 22.3986 41.4 20.7418C41.4 19.0849 40.0569 17.7418 38.4 17.7418H14C11.2386 17.7418 9 19.9803 9 22.7418V66.7418C9 69.5032 11.2386 71.7418 14 71.7418H58C60.7614 71.7418 63 69.5032 63 66.7418V42.342C63 40.6852 61.6569 39.342 60 39.342C58.3431 39.342 57 40.6852 57 42.342V65.7418H15V23.7418ZM66.9539 22.9579C68.3195 21.5923 68.3194 19.3783 66.9539 18.0128L63.4184 14.4773C62.0502 13.1091 59.8321 13.1091 58.464 14.4773L30.6997 42.2416C28.1991 44.7421 26.5975 48.0005 26.1449 51.5077L25.7115 54.8664C25.648 55.359 26.0675 55.7785 26.5601 55.715L29.9188 55.2816C33.426 54.829 36.6844 53.2274 39.1849 50.7268L66.9539 22.9579ZM58.5051 31.4057L50.0244 22.9251L54.2671 18.6824L62.7477 27.1631L58.5051 31.4057Z"
                            fill="currentColor" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="flex gap-4 justify-center fixed bottom-5 w-full">
    <button class="btn btn-primary btn-sm shadow" [disabled]="disablePrevButton || loadingTasks"
        (click)="getTasksPage('prev')">Anterior</button>
    <button class="btn btn-primary btn-sm shadow" [disabled]="disableNextButton || loadingTasks"
        (click)="getTasksPage('next')">Siguiente</button>
</div>

<div *ngIf="loadingTasks" class="flex gap-6 py-12 px-4 sm:px-16 flex-wrap justify-evenly">
    <div class="radial-progress animate-spin" style="--value:60;"></div>
</div>

<div *ngIf="!loadingTasks && tasksList?.length === 0" class="flex gap-6 py-12 px-4 sm:px-16 flex-wrap justify-evenly">
    <div class="flex bg-base-100 shadow p-4 items-center justify-center sm:w-96 w-10/12 rounded-lg">
        <span class="text-base-content text-center text-lg font-bold">No se encontraron tareas</span>
    </div>
</div>

<app-new-task-modal (closeModal)="onCloseNewTaskModal($event)" *ngIf="showNewTaskModal"></app-new-task-modal>
<app-edit-task-modal (closeModal)="onCloseEditTaskModal($event)" *ngIf="showEditTaskModal" [task]="taskSelectedToEdit">
</app-edit-task-modal>
<app-confirm-modal (closeModal)="onCloseConfirmDeleteTaskModal($event)" *ngIf="showConfirmDeleteTaskModal"
    [message]="'Esta seguro de eliminar la tarea?'"></app-confirm-modal>
<app-task-detail-modal (closeModal)="onCloseTaskDetailModal()" *ngIf="showTaskDetailModal && taskSelectedToDetail" [task]="taskSelectedToDetail"></app-task-detail-modal>